# NFL Teams

In [157]:
import pandas as pd
import requests
from pprint import pprint
from geopy.geocoders import Nominatim

In [158]:

team_id=[]
team_abbr=[]
team_name=[]
team_venue=[]
venue_id=[]
venue_city=[]
venue_state=[]
venue_zip=[]
venue_capacity=[]
venue_grass=[]
venue_indoor=[]




for x in range(1,35):
    
    url='http://sports.core.api.espn.com/v2/sports/football/leagues/nfl/seasons/2022/teams/'+ str(x) +'?lang=en&region=us'
    response=(requests.get(url).json())
    try:            
        team_id.append(response['id'])
        team_abbr.append(response['abbreviation'])
        team_name.append(response['displayName'])
        team_venue.append(response['venue']['fullName'])
        venue_id.append(response['venue']['id'])
        venue_city.append(response['venue']['address']['city'])
        venue_state.append(response['venue']['address']['state'])
        venue_zip.append(response['venue']['address']['zipCode'])
        venue_capacity.append(response['venue']['capacity'])
        venue_grass.append(response['venue']['grass'])
        venue_indoor.append(response['venue']['indoor'])
    
    except KeyError:
        value="N/A"
        team_venue.append(value)
        venue_id.append(value)
        venue_city.append(value)
        venue_state.append(value)
        venue_zip.append(value)
        venue_capacity.append(value)
        venue_grass.append(value)
        venue_indoor.append(value)
    
    



team={'Team_id':team_id,'Abbreviation':team_abbr,'Team_Name':team_name,'Venue_id':venue_id}
venue={'Venue_id':venue_id,'Team_Venue':team_venue,'Venue_City':venue_city,'Venue_State':venue_state,'Venue_ZipCode':venue_zip,\
       'Venue_Capacity':venue_capacity,'Venue_Grass':venue_grass,'Venue_Indoor':venue_indoor}

In [159]:
team_df=pd.DataFrame(team)
# team_df1=team_df.dropna()
team_df.head()

  Team_id Abbreviation           Team_Name Venue_id
0       1          ATL     Atlanta Falcons     5348
1       2          BUF       Buffalo Bills     3883
2       3          CHI       Chicago Bears     3933
3       4          CIN  Cincinnati Bengals     3874
4       5          CLE    Cleveland Browns     3679

In [160]:

team_df.to_csv('data/teams.csv',index=False)

In [161]:
venue_df=pd.DataFrame(venue)
venue_df.head()

,Venue_id,Team_Venue,Venue_City,Venue_State,Venue_ZipCode,Venue_Capacity,Venue_Grass,Venue_Indoor
0,5348,Mercedes-Benz Stadium,Atlanta,GA,30313,75000,False,True
1,3883,Highmark Stadium,Orchard Park,NY,14127,71621,False,False
2,3933,Soldier Field,Chicago,IL,60605,61500,True,False
3,3874,Paycor Stadium,Cincinnati,OH,45202,65515,False,False
4,3679,Cleveland Browns Stadium,Cleveland,OH,44114,67431,True,False

In [162]:
merged_teamvenue_df=team_df.merge(venue_df,on="Venue_id",how='left')
teamvenue_cleaned=merged_teamvenue_df.loc[(merged_teamvenue_df['Team_id']!='31') & (merged_teamvenue_df['Team_id']!='32')]
teamvenue_cleaned.head(40)

,Team_id,Abbreviation,Team_Name,Venue_id,Team_Venue,Venue_City,Venue_State,Venue_ZipCode,Venue_Capacity,Venue_Grass,Venue_Indoor
0,1,ATL,Atlanta Falcons,5348,Mercedes-Benz Stadium,Atlanta,GA,30313,75000,False,True
1,2,BUF,Buffalo Bills,3883,Highmark Stadium,Orchard Park,NY,14127,71621,False,False
2,3,CHI,Chicago Bears,3933,Soldier Field,Chicago,IL,60605,61500,True,False
3,4,CIN,Cincinnati Bengals,3874,Paycor Stadium,Cincinnati,OH,45202,65515,False,False
4,5,CLE,Cleveland Browns,3679,Cleveland Browns Stadium,Cleveland,OH,44114,67431,True,False
5,6,DAL,Dallas Cowboys,3687,AT&T Stadium,Arlington,TX,76011,100000,False,True
6,7,DEN,Denver Broncos,3937,Empower Field at Mile High,Denver,CO,80204,76125,True,False
7,8,DET,Detroit Lions,3727,Ford Field,Detroit,MI,48226,64500,False,True
8,9,GB,Green Bay Packers,3798,Lambeau Field,Green Bay,WI,54304,81041,True,False
9,10,TEN,Tennessee Titans,3810,Nissan Stadium,Nashville,TN,37213,69143,True,False
10,11,IND,Indianapolis Colts,3812,Lucas Oil Stadium,Indianapolis,IN,46225,63000,False,True
11,12,KC,Kansas City Chiefs,3622,GEHA Field at Arrowhead Stadium,Kansas City,MO,64129,72936,True,False
12,13,LV,Las Vegas Raiders,6501,Allegiant Stadium,Las Vegas,NV,89118,65000,True,True
13,14,LAR,Los Angeles Rams,477,Los Angeles Memorial Coliseum,Los Angeles,CA,90037,77500,True,False
14,15,MIA,Miami Dolphins,3948,Hard Rock Stadium,Miami Gardens,FL,33056,64767,True,False
15,16,MIN,Minnesota Vikings,5239,U.S. Bank Stadium,Minneapolis,MN,55415,66468,False,True
16,17,NE,New England Patriots,3738,Gillette Stadium,Foxboro,MA,02035,65878,False,False
17,18,NO,New Orleans Saints,3493,Caesars Superdome,New Orleans,LA,70112,73000,False,True
18,19,NYG,New York Giants,3839,MetLife Stadium,East Rutherford,NJ,07073,82500,False,False
19,19,NYG,New York Giants,3839,MetLife Stadium,East Rutherford,NJ,07073,82500,False,False
20,20,NYJ,New York Jets,3839,MetLife Stadium,East Rutherford,NJ,07073,82500,False,False
21,20,NYJ,New York Jets,3839,MetLife Stadium,East Rutherford,NJ,07073,82500,False,False
22,21,PHI,Philadelphia Eagles,3806,Lincoln Financial Field,Philadelphia,PA,19148,69879,True,False
23,22,ARI,Arizona Cardinals,3970,State Farm Stadium,Glendale,AZ,85305,65000,True,True
24,23,PIT,Pittsburgh Steelers,3752,Acrisure Stadium,Pittsburgh,PA,15212,68400,True,False
25,24,LAC,Los Angeles Chargers,538,Dignity Health Sports Park,Carson,CA,90746,27000,False,False
26,25,SF,San Francisco 49ers,4738,Levi's Stadium,Santa Clara,CA,95054,68500,True,False
27,26,SEA,Seattle Seahawks,3673,Lumen Field,Seattle,WA,98134,68740,False,False
28,27,TB,Tampa Bay Buccaneers,3886,Raymond James Stadium,Tampa,FL,33607,65828,True,False
29,28,WSH,Washington Commanders,3719,FedExField,Landover,MD,20785,67617,True,False
30,29,CAR,Carolina Panthers,3628,Bank of America Stadium,Charlotte,NC,28202,73778,True,False
31,30,JAX,Jacksonville Jaguars,3712,TIAA Bank Field,Jacksonville,FL,32202,67858,True,False
36,33,BAL,Baltimore Ravens,3814,M&T Bank Stadium,Baltimore,MD,21230,70745,True,False
37,34,HOU,Houston Texans,3891,NRG Stadium,Houston,TX,77054,71995,False,True

In [163]:
teamvenue_cleaned['Venue_ZipCode']=teamvenue_cleaned['Venue_ZipCode'].astype(int)
teamvenue_cleaned.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 34 entries, 0 to 37
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Team_id         34 non-null     object
 1   Abbreviation    34 non-null     object
 2   Team_Name       34 non-null     object
 3   Venue_id        34 non-null     object
 4   Team_Venue      34 non-null     object
 5   Venue_City      34 non-null     object
 6   Venue_State     34 non-null     object
 7   Venue_ZipCode   34 non-null     int32
 8   Venue_Capacity  34 non-null     object
 9   Venue_Grass     34 non-null     object
 10  Venue_Indoor    34 non-null     object
dtypes: int32(1), object(10)
memory usage: 3.1+ KB

c:\Users\laila\anaconda3\envs\PythonData\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [164]:
geolocator = Nominatim(user_agent="NFL-app")

for index, row in teamvenue_cleaned.iterrows():
    zip = int(row['Venue_ZipCode'])
    location = geolocator.geocode(zip)
    teamvenue_cleaned.loc[index, "Latitude"] = location.latitude
    teamvenue_cleaned.loc[index, "Longitude"] = location.longitude

c:\Users\laila\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:845: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[key] = _infer_fill_value(value)
c:\Users\laila\anaconda3\envs\PythonData\lib\site-packages\pandas\core\indexing.py:966: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.obj[item] = s

In [165]:

teamvenue_cleaned.head()

,Team_id,Abbreviation,Team_Name,Venue_id,Team_Venue,Venue_City,Venue_State,Venue_ZipCode,Venue_Capacity,Venue_Grass,Venue_Indoor,Latitude,Longitude
0,1,ATL,Atlanta Falcons,5348,Mercedes-Benz Stadium,Atlanta,GA,30313,75000,False,True,33.762932,-84.396061
1,2,BUF,Buffalo Bills,3883,Highmark Stadium,Orchard Park,NY,14127,71621,False,False,42.763758,-78.750270
2,3,CHI,Chicago Bears,3933,Soldier Field,Chicago,IL,60605,61500,True,False,41.870297,-87.626919
3,4,CIN,Cincinnati Bengals,3874,Paycor Stadium,Cincinnati,OH,45202,65515,False,False,54.873768,23.937338
4,5,CLE,Cleveland Browns,3679,Cleveland Browns Stadium,Cleveland,OH,44114,67431,True,False,41.506159,-81.680961

In [166]:

teamvenue_cleaned.to_csv('data/team_venue.csv',index=False)